#!/usr/bin/env bash
# Copy to 'run' and fill in your API keys
export CONTEXT7_API_KEY="ctx7sk-YOUR_KEY"
export GITHUB_TOKEN="ghp_YOUR_TOKEN"
export NV_KEY="nvapi-YOUR_KEY"
export SOFA_KEY="YOUR_KEY"
export LI_KEY="YOUR_KEY"
export OSS_TOKEN="sonatype_pat_YOUR_TOKEN"
export TAVILY_KEYS="tvly-dev-YOUR_KEY"
export FIRECRAWL_KEYS="fc-YOUR_KEY"
exec /home/sk/.local/share/venvs/mcp/bin/python3 /home/sk/.config/opencode/mcp-servers/codesearch/server.py "$@"
